<div>
  <h1>New RSS Feed</h1>
  <label for="feed_title">Title:</label>
  <input name="feed[title]" id="feed_title">
  <br>
  <label for="feed_link">Link:</label>
  <input name="feed[link]" id="feed_link">
  <br>

  <button class="submit">Submit</button>
  <button class="cancel">Cancel</button>

</div>